<h1>Congratulations! You have guessed all the states!</h1>
<p>Your final score is: {{ score }}</p>
<button mat-flat-button color="primary" (click)="restartGame()">
  Play Again
</button>

<!-- Movies Played Section -->
<mat-divider></mat-divider>
<h2 class="mt-4 mb-2">Movies You Saw This Round</h2>

<div class="movies-grid-container">
  <div class="movies-grid">
    @for (movie of playedMedia; track $index) {
      <mat-card class="movie-card">
        <img
          mat-card-image
          [src]="'https://image.tmdb.org/t/p/w200' + movie.media.poster_path"
          [alt]="movie.media.title"
        />

        <mat-card-content>
          <a>
            {{ movie.media.title }}
          </a>
          <div>
            <p class="movie-overview">
              {{ movie.media.overview }}
            </p>
          </div>
        </mat-card-content>
      </mat-card>
    }
  </div>
</div>
