.currently-away {
  min-height: 68px;
}

.game-container {
  padding: 2em;
  display: flex;
  justify-content: center;
}

.game-separator {
  display: flex;
  justify-content: center;
  gap: 1em;

  .score-card {
    display: flex;
    flex-direction: column;
    flex: 0 0 15%;
    padding: 1em;
    gap: 0.5em;
    overflow: hidden;

    .score {
      flex: 0 0 10%;
      justify-content: center;
      align-items: center;
    }

    .country-list {
      max-height: 650px;
      overflow-y: auto;
      min-height: 650px;
    }
  }
  .country-card {
    flex: 0.7;
    display: flex;
    gap: 0.5em;
    padding: 1em;
    .country {
      flex: 0.9;
      justify-content: center;
      align-items: center;
    }
    .steps-input-card {
      flex: 0.1;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      gap: 2em;
      padding: 1em;
      .input-card {
        flex-direction: row;
        flex: 0.5;
        height: 100%;
        gap: 1em;
        justify-content: center;
        align-items: center;
      }
      .steps-away-card {
        flex: 0.5;
        height: 100%;
        justify-content: center;
        align-items: center;
      }
    }
  }
  .movie-card {
    flex: 0.15;
  }
}

.states {
  justify-content: center;
  align-items: center;
  width: 100%;
  svg {
    width: 100%;
    height: auto;
    display: block;
  }

  path[fill="#f9f9f9"]:hover {
    filter: brightness(0.7);
    cursor: pointer;
  }
}
