<div class="overlay">
  <mat-card>
    <mat-card-header>
      <div class="app-logo" aria-label="State of the Screen">
        <h1 class="app-logo__title mat-display-large">
          <span class="app-logo__word app-logo__word--primary">State</span>
          <span class="app-logo__word app-logo__word--middle">on the</span>
          <span class="app-logo__word app-logo__word--primary">Screen</span>
        </h1>
      </div>
    </mat-card-header>

    <mat-card-footer>
      <div class="button-group">
        <button mat-flat-button color="primary" (click)="toStates('short')">
          Quick Game
        </button>

        <button mat-flat-button color="primary" (click)="toStates('all')">
          All 50 States
        </button>
      </div>
    </mat-card-footer>
  </mat-card>
</div>
